```css id="w3n8pv"
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  background:#050816;
  color:white;
  font-family:Arial;
  padding:20px;
}

h1{
  text-align:center;
  color:#00ffff;
  margin-bottom:10px;
}

.subtitle{
  text-align:center;
  color:#cbd5e1;
  margin-bottom:20px;
}

.search-box{
  max-width:500px;
  margin:auto;
  margin-bottom:25px;
}

.search-box input{
  width:100%;
  padding:15px;
  border:none;
  border-radius:12px;
  font-size:16px;
}

.container{
  max-width:600px;
  margin:auto;
}

.card{
  background:#111827;
  padding:20px;
  border-radius:20px;
  margin-bottom:20px;

  box-shadow:
  0 0 20px rgba(0,255,255,0.15);
}

.nama{
  font-size:20px;
  font-weight:bold;
  margin-bottom:15px;
}

.status{
  color:#22c55e;
  margin-bottom:10px;
}

.timer{
  font-size:32px;
  color:#facc15;
  margin-bottom:15px;
}

button{
  width:100%;
  padding:14px;
  border:none;
  border-radius:12px;
  font-size:16px;
  font-weight:bold;
  cursor:pointer;
  margin-top:10px;
}

.start-btn{
  background:#00ffff;
  color:black;
}

.stop-btn{
  background:#ff004f;
  color:white;
}
```
